@import "tailwindcss";

@theme {
    --color-oldschool-bg: #282828;
    --color-oldschool-pad-bg: #474554;
    --color-oldschool-green: #33FF33;
    --color-oldschool-amber: #FFB000;
    --color-oldschool-pink: #ff00ff;
}

:root {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.inner-glow {
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.3);
}

.playing {
    transform: scale(0.95);
    background-color:  !important; /* amber-400 */
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.3);
    border-color: #098708;
}

button:disabled {
    background-color: #282828;
}

.scrollbar-custom::-webkit-scrollbar {
    width: 8px;
    border-radius: 8px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
    background: #ff007f;
    border-radius: 4px;
}

.scrollbar-custom::-webkit-scrollbar-track {
    background: rgb(24 24 27);
    border-radius: 8px;
    margin: 4px;
}